


body
{
    background-image:url("../assets/images/bg-pattern.svg");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:0px -90px;
    background-color:hsl(230, 100%, 99%);
    display:flex;
    justify-content:center;
    align-items:center;
  
    
    
}

*
{
    user-select:none;
    color:hsl(225, 20%, 60%);
    font-weight:normal;
    margin:0;
    font-size:15px;
}

#container
{
   
    margin-top:40px;
    display:flex;
    flex-direction:column;
    width:35%;
    height:75vh;
    box-shadow:0px 15px 15px hsl(225, 20%, 60%);
}

#introduction
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:25%;
    
    padding:3%;
   
   

}

h3
{
    color:hsl(227, 35%, 25%);
    font-weight:bold;
    font-size:1.8em;
    margin-bottom:2%;
}



#pricingSection
{
    
    background-color:white;
    flex:1;
    display:flex;
    flex-direction:column;

}

#pricingOption
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:65%;
    padding:6%;
}

#pricingDetail
{
    
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

#numberOfPageview
{
    font-weight:bold;;
    font-size:1.1em;

}

#rate
{
    display:flex;
    align-items:center;
    
}

#rate em
{
    color:hsl(227, 35%, 25%);
    font-size:3.5em;
    font-weight:bold;
}

#cursor
{
    flex:1;
    display:flex;
    flex-direction:column;
    padding-top:4%;
}



#cursorIcon
{
    background-color:hsl(174, 86%, 45%);
    background-image:url("../assets/images/icon-slider.svg");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:16px 12px;
    position:relative;
    z-index:10;
    top:16px;


    
    width:25px;
    height:25px;
    border-radius:40px;
    box-shadow:0px 5px 10px hsl(174, 77%, 80%);


}

#cursorIcon:hover
{
    cursor:pointer;
}

#progressionBar
{
    width:100%;
    height:8px;
    border-radius:40px;
    background-color:hsl(224, 65%, 95%);
    

}

#progression
{
    height:100%;
    background-color:hsl(174, 86%, 45%);
    width:0px;
}

#billingOption
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}



#monthlyOffer
{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    width:40%;
    

}





#switchBillingButton
{
    width:8%;
    height:100%;

    background-color:hsl(223, 50%, 87%);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    

    border-radius:40px;
  
    
}

#switchBillingButton:hover
{
    cursor:pointer;
}

#switchBillingButton div:nth-child(1)
{
    width:30%;
    height:65%;
    margin-left:8%;
    margin-right:5%;
}

#switchBillingButton div:nth-child(2)
{
    width:30%;
    height:65%;
    margin-left:5%;
    margin-right:8%;
}


.billingSelected
{
    
    background-color:white;
    border-radius:40px;
}

#yearlyOffer
{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;

    align-items:center;
   
    width:40%;
    
}

mark
{
    color:hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
   
}

#pricingValidation
{
    display:flex;
    flex-direction:row;
    align-items:center;
    height:25%;
    border-top:solid lightgrey;
    padding:6%;
}

#offerDetail
{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    width:60%;


}

#offerDetail div
{
    background-image:url("../assets/images/icon-check.svg");
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:8%;
}

button
{
    border-radius:20px;
    border:none;
    height:50%;
    width:37%;
    background-color:hsl(227, 35%, 25%);
}























